.page-mains {
	background: $bg2;

	header {
		margin-bottom: 25px;

		.js-subscript {display: none;}
		.ml {display: inline-block;}
	}

	.page {
		display: flex;
	  flex-wrap: wrap;
	  justify-content: center;

		&-content {
			width: 600px;

			.article {
				position: relative;
				box-shadow: 0 5px 24px rgba(168, 175, 196, .35);
				padding-top: 0px;
				margin-bottom: 25px;
				background: #fff;

				&-title {
					display: flex;
		  		flex-direction: column;

					img {
						max-width: 100%;
						display: block;
						margin: 0 auto;
						padding: 0;
						position: relative;
						z-index: 1;
					}

					.title {
						color: #000;
						font: 24px/34px $open-r;
						padding: 16px 20px 10px;
						display: block;
						text-decoration: none;
					}

					&.portret {
						flex-direction: column-reverse;
						padding-top: 10px;

						img {
							margin-bottom: 10px;
							max-height: 70vh;
						}

						.title {
							padding-top: 0;
							margin-top: -2px;
						}
					}
				}

				&-content {
					padding: 5px 0px;

					.text {

						h2 {
							color: #000;
							font: 22px/32px $open-r;
							padding-left: 20px;
							padding-right: 20px;
							margin-bottom: 5px;
						}

						p {
							color: #555;
							font: 18px/28px $exo-r;
							margin-bottom: 20px;
							padding-left: 20px;
							padding-right: 20px;
						}

						iframe {
							width: 100% !important;
							margin-bottom: 10px;
							padding-left: 0px;
							padding-right: 0px;
						}

						ul, ol {
							margin-bottom: 20px;

							li {
								color: #555;
								font: 18px/28px $exo-r;
								margin-bottom: 5px;
							}
						}

						ul {
							padding-left: 35px;
							padding-right: 20px;

							li {
								position: relative;

								&:before {
									content: '';
									width: 6px;
									height: 6px;
									display: block;
									position: absolute;
									top: 12px; left: -13px;
									background: $red-dark;
								}
							}
						}

						ol {
							padding-left: 41px;
							padding-right: 20px;
							counter-reset: ol-counter;

							li {
								position: relative;

								&:before {
									content: counter(ol-counter)'.';
									counter-increment: ol-counter;
									color: $red-dark;
									font: 18px/18px $exo-r;
									display: block;
									position: absolute;
									top: 5px; left: -21px;
								}
							}
						}

						blockquote {
							color: #fff;
							font: 20px/26px $open-l;
							position: relative;
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							margin-bottom: 20px;

							span {
								display: block;
								position: relative;
								z-index: 2;
								padding: 10px 20px;

								&:before, &:after {
									content: '';
									width: 60%;
									height: 2px;
									display: block;
									margin: 15px auto;
									background: $red-dark;
								}
							}

							&:before, &:after {
								display: none;
							}

							&:after {
								content: '';
								width: 100%;
								height: 100%;
								display: block;
								position: absolute;
								top: 0; left: 0;
								background: rgba(0,0,0,.7);
								z-index: 1;
							}
						}

						table {
							width: 100%;
							border-collapse: separate;
							border-spacing: 0px;
							margin-bottom: 25px;

							thead, tbody {

								tr {

									th {
										color: #333;
										font: 14px/18px $open-b;
										text-transform: uppercase;
										letter-spacing: .05em;
										text-align: left;
										padding: 0 0 5px 5px;
										border-bottom: 2px solid $red-dark;

										&:first-child {
											padding-left: 20px;
										}
									}
								}
							}

							tbody {

								tr {

									td {
										font: 16px/22px $open-r;
										padding: 6px 7px;
										border-bottom: 1px solid #eee;

										&:first-child {
											padding-left: 20px;
										}
									}
								}
							}
						}

						.twitter-tweet {
							margin: 10px auto;
						}

						twitterwidget {
							width: 580px !important;
							max-width: 580px !important;
							margin: 0 0 20px 39px !important;
						}

						.hide {
							height: 0;
							overflow: hidden;
						}
					}

					.info {
						color: #888;
						font: 14px/13px $open-r;
						margin-bottom: 0;
						padding-left: 20px;
						padding-right: 20px;
						padding-bottom: 10px;

						&-date, &-number {
							font-family: $open-r, sans-serif;
							display: inline-block;
							position: relative;

							&:after {
								content: '•';
								font: 14px/14px Arial;
								display: inline-block;
								vertical-align: top;
								margin: 0 5px 0 12px;
							}
						}

						&-number {
							display: none;

							a {
								color: #888;
								text-decoration: none;

								&:hover {
									color: $red-dark;
								}
							}
						}

						&-commnets {
							color: #888;
							display: inline-block;
							margin-left: 3px;
							text-decoration: none;

							&:before {
								content: $blog;
								font: 12px/14px $icon;
								display: inline-block;
								vertical-align: top;
								margin-right: 5px;
							}

							&:hover {
								color: $red-dark;
							}
						}
					}

					.slider {
						position: relative;
						margin-bottom: 15px;
						padding-left: 0px;
						padding-right: 0px;

						a {
							display: block;
							 position: relative;
							text-decoration: none;
							cursor: col-resize;

							img {
								max-width: 100%;
							}

							p {
								color: #999;
								font: 12px/18px $open-l;
								padding: 10px 10px 0;
								margin: 0;
							}

							&:before {
								content: $search;
								width: 40px;
								height: 40px;
								color: #fff;
								font: 20px $icon;
								border-radius: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								position: absolute;
								background: rgba(0,0,0, .6);
								top: 10px; right: 10px;
								z-index: 3;
								opacity: 0;
								@include transition;
							}

							&:hover {

								&:before {
									opacity: 1;
								}
							}
						}

						.slick {

							&-arrow {
								width: 50px;
								height: 50px;
								position: absolute;
								z-index: 2;
								top: 40%;
								margin-top: 5px;
								overflow: hidden;
								background: transparent;
								opacity: .5;
								@include transition;

								&:before {
									color: #fff;
								}

								&:hover {
									opacity: 1;
								}
							}

							&-prev {
								left: 20px;

								&:before {
									content: $arrow-l;
									margin-top: 0;
									display: block;
									font: 50px $icon;
									@include transform(rotate(180deg));
								}
							}

							&-next {
								right: 20px;

								&:before {
									content: $arrow-l;
									margin-top: 0;
									display: block;
									font: 50px $icon;
								}
							}

							&-dots {
								width: 100%;
								text-align: center;
								position: absolute;
								top: 10px; left: 0;
								padding: 0;
								margin: 0;

								li {
									width: 5px;
									height: 5px;
									border-radius: 100%;
									display: inline-block;
									margin: 0 5px 0 0;
									background: $red-dark;
									opacity: .5;

									&:before {
										display: none;
									}

									button {opacity: 0;}
								}
							}

							&-active {
								opacity: 1 !important;
							}
						}
					}

					.comments {display: none;}
				}
			}

			.vote {
				background: #fff;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 10px;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
				border-top: 3px solid $red-dark;

				&-content {

					&-title {
						color: #000;
						font: 22px/32px $exo-r;
						padding: 15px 10px;
						margin: 20px;
					}

					&-answer {
						padding: 10px 13px;
						margin-bottom: 0;

						.item {
							margin-right: 20px;
							margin-left: 20px;

							label {
								color: #bcbcbc;
								font-family: $open-r;
								text-transform: uppercase;
								display: flex;
  							justify-content: space-between;
								font-size: 18px;
								cursor: pointer;
								margin-bottom: 20px;
							}
						}
					}

					&-result {
						padding: 0 10px;

						.item {
							margin-bottom: 10px;
							margin-right: 20px;
							margin-left: 20px;

							p {
								color: #bcbcbc;
								font: 18px/28px $open-r;
								text-transform: uppercase;
								margin-bottom: 7px;
							}

							.bar {
								width: 100%;
								height: 20px;
								display: flex;
								overflow: hidden;
								position: relative;
								background: #f2f2f2;

								&-line {
									width: 0;
									height: 20px;
									position: relative;
									background: $red-dark;
								}

								&-number {
									color: $red-dark;
									font: 12px/22px $open-r;
									height: 20px;
									background: #f2f2f2;
									padding: 0 15px;
									position: relative;
									display: inline-block;

									&:before {
										content: '';
										width: 0;
										height: 0;
										position: absolute;
										top: 6px; left: 0;
										border-style: solid;
										border-width: 4px 0 4px 4px;
										border-color: transparent transparent transparent $red-dark;
									}
								}

							}
						}

						&-foot {
							padding: 0 10px;

							a {
								color: #fff !important;
								background: $blue !important;
								margin: 20px 0 10px !important;
							}
						}
					}

					&-foot {
						padding: 0;
						margin-top: 0;
						display: flex;
  					justify-content: center;

						p {
							color: #bcbcbc;
							font: 14px/20px $open-r;
							padding-top: 0;
						}
					}
				}
			}

			.parking {
				position: relative;
				box-shadow: 0 5px 24px rgba(168, 175, 196, .35);
				padding-top: 10px;
				margin-bottom: 25px;
				background: #fff;

				&-title {
					color: #000;
					font: 24px/34px $open-r;
					padding: 0 20px 15px;
				}

				&-img {
					display: block;
					margin: 0 auto 10px;
				}

				&-text {
					color: #555;
					font: 14px $open-l;
					text-align: center;
				}

				.info {
					color: #888;
					font: 14px/13px $open-r;
					margin-bottom: 0;
					padding: 10px;

					&-date, &-number {
						font-family: $open-r, sans-serif;
						display: inline-block;
						position: relative;

						&:after {
							content: '•';
							font: 14px/14px Arial;
							display: inline-block;
							vertical-align: top;
							margin: 0 5px 0 12px;
						}
					}

					&-number {
						display: none;
					}

					&-commnets {
						color: #888;
						display: inline-block;
						margin-left: 3px;
						text-decoration: none;

						&:before {
							content: $blog;
							font: 12px/14px $icon;
							display: inline-block;
							vertical-align: top;
							margin-right: 5px;
						}
					}
				}

				.comments {
					display: none;
				}
			}

			.who {
				position: relative;
				box-shadow: 0 5px 24px rgba(168, 175, 196, .35);
				padding-top: 10px;
				margin-bottom: 25px;
				background: #fff;

				&-title {
					color: #000;
					font: 24px/34px $open-r;
					padding: 0 20px 15px;
				}

				&-link {
					display: flex;
		  		align-items: center;
					text-decoration: none;
					padding: 0 10px;

					&-img {
						width: 80px;
						height: 80px;
						border-radius: 100%;
					}

					&-name {
						color: #555;
						font: 18px/28px $open-r;
						margin-left: 20px;

						span {
							color: #a9a9a9;
							font: 14px/24px $open-r;
							display: block;
						}
					}
				}

				.info {
					color: #888;
					font: 14px/13px $open-r;
					margin-bottom: 0;
					padding: 10px;

					&-date, &-number {
						font-family: $open-r, sans-serif;
						display: inline-block;
						position: relative;

						&:after {
							content: '•';
							font: 14px/14px Arial;
							display: inline-block;
							vertical-align: top;
							margin: 0 5px 0 12px;
						}
					}

					&-number {
						display: none;
					}

					&-commnets {
						color: #888;
						display: inline-block;
						margin-left: 3px;
						text-decoration: none;

						&:before {
							content: $blog;
							font: 12px/14px $icon;
							display: inline-block;
							vertical-align: top;
							margin-right: 5px;
						}
					}
				}

				.comments {
					display: none;
				}
			}

			.bro {
				width: 100%;
				height: 100px;
		  	text-decoration: none;
				position: relative;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				cursor: pointer;
				z-index: 1;
				margin: 0px 0 25px;

				a {
					display: flex;
		  		align-items: center;
		  		text-decoration: none;
		  		position: absolute;
		  		top: 0; bottom: 0; left: 0; right: 0;
		  		z-index: 5;

		  		p {
						color: #fff !important;
						font: 20px/26px $exo-r;
						padding: 0 20px;
						position: relative;
						z-index: 2;
					}
				}

				.closed {
					color: #fff;
					font: 30px $open-l;
					position: absolute;
					top: 0px; right: 10px;
					z-index: 10;
					cursor: pointer;
				}

				&:after {
					content: '';
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					top: 0; left: 0;
					background: rgba(0,0,0,.7);
					z-index: 1;
				}
			}

			.day {
				color: #999;
				font: 14px $open-r;
				text-shadow: 0 1px 0 #fff;
				text-align: center;
				position: relative;
				margin: 20px 0;

				span {
					padding: 0 10px;
					background: $bg2;
					position: relative;
					z-index: 2;
				}

				&:before {
					content: '';
					width: 100%;
					border-top: 1px solid #999;
					border-bottom: 1px solid #fff;
					opacity: .3;
					position: absolute;
					top: 8px; left: 0;
					z-index: 1;
				}
			}

			.history {
				width: 100%;
				height: 40px;
				margin-bottom: 15px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				background: #fff;
				position: relative;
				z-index: 1;
				box-shadow: 0 5px 24px rgba(168, 175, 196, .35);

				a {
					width: 50%;
					color: #333;
					font: 18px $exo-r;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					position: relative;
					@include no-transition;

					&.left {
						color: #fff;
						background: #333;

						&:after {
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 40px 6px 0 0;
							border-color: #333 transparent transparent transparent;
							position: absolute;
							top: 0; right: -6px;
							z-index: 10;
						}

						&.no-active {
							color: #333;
							background: #fff;

							&:after {
								border-color: #fff transparent transparent transparent;
							}

							+ a {
								color: #fff;
								background: #333;
							}
						}
					}

					&:after {
						@include no-transition;
					}
				}
			}

			._gray-light {
				width: calc(100% - 40px);
				padding: 0;
				margin: 0 20px 20px;
			}

			.mfp-iframe-holder {

				.mfp-close {
					width: 40px;
					right: 50%;
				}
			}
		}

		&-sidebar {
			width: 300px;
		}
	}

	.mfp-counter {
		display: none;
	}
	
	._hide {
		display: none !important;
	}

	footer {
		margin-top: 20px;
		z-index: 100;
	}
}
